* {
	margin: 0;
	padding: 0;
}
*:focus {
    outline: 0;
}

body {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;	
	background: url('/imgs/fone.png') repeat 0 0;
}

#content {
	width: 100%;	
}

.shift {
	padding: 10px;
}

.black {
	color: #777;
}
.green {
	color: #51a351;
}
.red-text {
	color: #dd4b39;
}
.blue-text {
	color: #3a87ad;
}
.orange-text {
	color: #f89406;
}
.green-text {
	color: #080;
}

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}

.clearfix {
	padding: 0px;
	margin: 0px;
	clear: both;
}

.icon16 {
	width: 16px;
	height: 16px;
	padding-left: 20px;
}
.icon16-empty {
	width: 16px;
	height: 16px;
	padding-left: 3px;
}

.mail {
	background: url('/imgs/mail.png') no-repeat;
}
.task {
	background: url('/imgs/task.png') no-repeat;
}
.profile {
	background: url('/imgs/profile.png') no-repeat;
}
.settings {
	background: url('/imgs/settings.png') no-repeat;
}
.exit {
	background: url('/imgs/exit.png') no-repeat;
}
.alarm {
	background: url('/imgs/alarm.png') no-repeat;
}
.comment {
	background: url('/imgs/comment.png') no-repeat;
}
.project {
	background: url('/imgs/project.png') no-repeat;
}
.follow {
	background: url('/imgs/follow.png') no-repeat;
}

sup.count {
	position: relative;
	top: -20px;
	left: 16px;
}

button {
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #cecece;
	background-color: #f8f8f8;
	background-image: linear-gradient(to bottom,#f4f4f4 0,#eaeaea 100%);
	color: #444;
	padding: 2px;
}
button:hover {
	background: #f4f4f4;
}
button.small {
	padding: 2px;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 5px;
}
button.medium {
	padding: 2px;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
}
button.large {
	padding: 5px;
	font-size: 13px;
	padding-left: 15px;
	padding-right: 15px;
}
button.agree {
	border: 1px solid #4cb64c;
	background-image: linear-gradient(to bottom,#62be62 0,#4cb64c 100%);	
	color: #fff;
}
button.agree:hover {
	background: #4cb64c;
}

.red {
	background: #b94a48;
	padding: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 9px;
	color: #fff;
}
.orange {
	background: #f89406;
	padding: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 9px;
	color: #fff;	
}
.success {
	background: #080;
	padding: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 9px;
	color: #fff;	
}


span.open-task {
	background: #fedbaa;
	color: #a66304;
	padding: 2px;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;	
}
span.start-task {
	background: #98c2d6;
	color: #07547a;
	padding: 2px;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;	
}
span.resolved-task {
	background: #b0e5b0;
	color: #006000;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;	
	padding: 2px;
}
span.closed-task {
	background: #ddd;
	color: #444;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;	
	padding: 2px;	
}


.open {
	border-left: 5px solid #f89406;
}
.start {
	border-left: 5px solid #3a87ad;
}
.resolved {
	border-left: 5px solid #080;
}
.closed {
	border-left: 5px solid #ccc;
}

li.separator {
	padding: 0px !important;
	margin: 0px !important;
	border-bottom: 1px solid #eee !important;	
}

.charts > .shift {
	padding: 0px;
	padding-top: 10px;
}
.charts > .shift > h6 {
	text-align: center;
	margin-left: 24px;
}
.charts > .shift > .chart > span {
	position: relative;
	top: -48px;
	left: 70px;
	font-weight: bold;
	color: #777;
	font-size: 14px;
}
.charts > .shift > .chart > span:after {
	content: '%'; 
}

div.paging {
	text-align: center;
	color: #666;
	padding: 10px;
}
div.paging:hover {
	cursor: pointer;
	background-color: #f1f1f1;
}

div.input-field {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}
div.input-field > input[type=text] {
	width: 100%;
	height: 24px;
	font-size: 14px;
	color: #777;
	font-weight: 100;
	border: medium;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.panel {
	background-color: #fff;
	border: 1px solid #eee;
	padding: 10px; 
}

.frame {
	background-color: #fff;
	border: 1px solid #eee;
	padding: 0px;
}
.frame > .header {
	padding: 10px;
	border-bottom: 1px solid #eee;
}
.frame > .content {
	padding: 10px;
	padding-bottom: 0px;
	color: #666;
}

.shift-layout {
	margin-right: 10px;
}
.layout {
	padding: 10px;
	padding-bottom: 0px;
}
.layout10 {
	width: 10%;
}
.layout20 {
	width: 20%;
}
.layout30 {
	width: 30%;
}
.layout33 {
	width: 33%;
}
.layout40 {
	width: 40%;
}
.layout45 {
	width: 45%;
}
.layout50 {
	width: 50%;
}
.layout70 {
	width: 70%;
}
.layout80 {
	width: 80%;
}
.layout90 {
	width: 90%;
}
.layout100 {
	width: 100%;
}

.layout-fix-240 {
	width: 240px;
}

.smalltext {
	color: #777;
	font-size: 11px;
}
h3 {
	color: #777;
	font-weight: bold;
	font-size: 13px;
}
h6 {
	color: #666;
	font-weight: bold;
	font-size: 11px;
}

div.graph-activity {
	width: 100%;
	height: 143px;
	margin-top: 5px;
}

ul {
	background-color: #fff; 
}

.micro-shift {
	padding-bottom: 3px;
}

div.progress-panel {
	margin-top: 7px;
	color: #777;
	font-size: 12px;
}
div.progress-panel > div.data {
	font-weight: bold;
}
div.progress-panel > div.pull-right > span.uarr {
	color: #080;
	font-weight: bold;	
	font-size: 14px;
}
div.progress-panel > div.pull-right > span.darr {
	color: #c63939;
	font-weight: bold;	
	font-size: 14px;
}
div.progress-panel > div.progressbar {
	width: 100%;
	height: 6px;
	background-color: #eee;	
}
div.progress-panel > div.progressbar > div.progress {
	background-color: #3a87ad;
	height: 6px;
}

ul.nav {	
	border-bottom: 1px solid #eee;
	list-style-type: none;
	height: 45px;
	clear: both;
	box-shadow: 0px 1px #e5ffec;
	padding-right: 10px;
	background-color: #fff;
}
ul.nav > li {
	float: left;
	padding: 12px;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
}
ul.nav > li a {
	text-decoration: none;
	color: #666;
}
ul.nav li.brand {
	padding-right: 100px;
}
ul.nav li.brand a {
	letter-spacing: 1px;
	font-weight: bold;
}
ul.nav li.item:hover {
	background-color: #f1f1f1;
}
ul.nav li.empty {
	border: none;
	float: right;		
	padding: 11px;		
}
ul.nav li.empty img.principal-avatar {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
ul.nav li.empty > span {
	padding-bottom: 4px;
}
ul.nav > li.empty:hover {
	background: #f1f1f1;
}
ul.nav li.icon {
	border: none;
	float: right;
	padding: 0px;	
	padding-top: 15px;
}
 ul.dropdown {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;	
	top: 45px;
	right: 10px;	
	border: 1px solid #eee;
	border-top: 1px solid #fff;
	background-color: #fff;
	box-shadow: 2px 2px 2px #e5ffec; 
	display: none;
	z-index: 9999;
}
ul.dropdown > li {
	float: none;
	min-width: 120px;
	border: none;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #fff;
}
ul.dropdown > li > a {
	color: #777;
	text-decoration: none;
	width: auto;
}
ul.dropdown > li:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

div.dd_messages {
	margin: 0;
	padding: 5px;
	position: absolute;
	top: 45px;
	right: 200px;
	border: 1px solid #eee;
	border-top: 1px solid #fff;
	background-color: #fff;
	box-shadow: 2px 2px 2px #e5ffec;
	display: none;
	z-index: 9999;
}
div.dd_messages > ul {
	list-style-type: none;
	overflow: auto;
	max-height: 240px;
	width: 330px;
}
div.dd_messages > ul > li {
	width: 320px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}
div.dd_messages > ul > li:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}
div.dd_messages > ul > li > div.avatar {
	width: 32px;
	height: 32px;
	margin-top: 2px;
	background: url('/imgs/user_avatar.png');
	float: left;
}
div.dd_messages > ul > li > div.item {
	margin-left: 38px;
}
div.dd_messages > ul > li > div.item > p {
	color: #666;
	font-size: 12px;
}
div.dd_messages > ul > li > div.item > p.content {
	max-height: 64px;
	overflow: hidden;
}
div.dd_messages > ul > li > div.item > p.datetime {
	padding-top: 5px;
	color: #999;
	font-size: 10px;
}
div.dd_messages > div.paging {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
	color: #666;
	border: none;
}
div.dd_messages > div.paging:hover {
	cursor: pointer;
	background-color: #f1f1f1;
}

div.dd_alarms {
	margin: 0;
	padding: 5px;
	position: absolute;
	top: 45px;
	right: 230px;
	border: 1px solid #eee;
	border-top: 1px solid #fff;
	background-color: #fff;
	box-shadow: 2px 2px 2px #e5ffec;
	z-index: 9999;	
	display: none;
}
div.dd_alarms > ul {
	list-style-type: none;	
	overflow: auto;
	max-height: 240px;
	width: 336px;	
}
div.dd_alarms > ul > li {
	width: 320px;
	padding: 3px;
	padding-bottom: 8px;
	padding-top: 8px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}
div.dd_alarms > ul > li:hover {
	cursor: pointer;
	background-color: #f1f1f1;
}
div.dd_alarms > ul > li > a {
	color: #51a351;
	text-decoration: underline;
}
div.dd_alarms > ul > li > a:hover {
	color: #080;
}
div.dd_alarms > ul > li > p.datetime {
	padding-top: 5px;
	color: #999;
	font-size: 10px;
}

div.dd_tasks {
	margin: 0;
	padding: 5px;
	position: absolute;
	top: 45px;
	right: 160px;
	border: 1px solid #eee;
	border-top: 1px solid #fff;
	background-color: #fff;
	box-shadow: 2px 2px 2px #e5ffec;
	display: none;
	z-index: 9999;
}
div.dd_tasks > ul {
	list-style-type: none;	
	overflow: auto;
	max-height: 240px;
	width: 330px;
}
div.dd_tasks > ul > li {
	width: 320px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}
div.dd_tasks > ul > li:hover {
	cursor: pointer;
	background-color: #f1f1f1;
}
div.dd_tasks > ul > li > div.item {
	padding-left: 5px;
}
div.dd_tasks > ul > li > div.item > p {
	color: #666;
	font-size: 12px;
}
div.dd_tasks > ul > li > div.item > p > a {
	color: #51a351;
	text-decoration: underline;
}
div.dd_tasks > ul > li > div.item > p > a:hover {
	color: #080;
}
div.dd_tasks > ul > li > div.item > p.datetime {
	padding-top: 5px;
	color: #999;
	font-size: 10px;
}
div.dd_tasks > div.paging {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
	color: #666;
	border: none;
}
div.dd_tasks > div.paging:hover {
	cursor: pointer;
	background-color: #f1f1f1;
}

ul.project-activity {
	list-style-type: none;
}
ul.project-activity > li {
	padding: 5px;
	border-bottom: 1px solid #eee;
}
ul.project-activity > li > div.avatar {
	float: left;
	padding-top: 2px;
}
ul.project-activity > li > div.message {
	margin-left: 36px;
}
ul.project-activity > li > div.message > p.datetime {
	padding-top: 5px;
	color: #999;
	font-size: 10px;
}
ul.project-activity > li > div.message > p.action > a {
	color: #51a351;
	text-decoration: underline;
} 
ul.project-activity > li > div.message > p.action > a:hover {
	color: #080;
} 
ul.project-activity > li > div.message > p.description {
	background-color: #f1f1f1;
	border: 1px solid #ddd;
	margin-top: 2px;
	padding: 5px;
	font-size: 11px;
	color: #666;
}

ul.social-activity {
	list-style-type: none;
}
ul.social-activity > li {
	padding: 5px;
	border-bottom: 1px solid #eee;
}
ul.social-activity > li > div.avatar {
	float: left;
	padding-top: 2px;
}
ul.social-activity > li > div.message {
	margin-left: 36px;
}
ul.social-activity > li > div.message > p.datetime {
	padding-top: 5px;
	color: #999;
	font-size: 10px;
}
ul.social-activity > li > div.message > p.action > a {
	color: #51a351;
	text-decoration: underline;
} 
ul.social-activity > li > div.message > p.action > a:hover {
	color: #080;
} 
ul.social-activity > li > div.message > p.description {
	background-color: #f1f1f1;
	border: 1px solid #ddd;
	margin-top: 2px;
	padding: 5px;
	font-size: 11px;
	color: #666;
}
ul.social-activity > li > div.message > p.buttons {
	margin-top: 4px;
	text-align: right;
}

ul.prof-activity {
	list-style-type: none;
}
ul.prof-activity > li {
	padding: 5px;
	border-bottom: 1px solid #eee;
}
ul.prof-activity > li > div.avatar {
	float: left;
	padding-top: 2px;
}
ul.prof-activity > li > div.message {
	margin-left: 36px;
}
ul.prof-activity > li > div.message > p.datetime {
	padding-top: 5px;
	color: #999;
	font-size: 10px;
}
ul.prof-activity > li > div.message > p.action > a {
	color: #51a351;
	text-decoration: underline;
} 
ul.prof-activity > li > div.message > p.action > a:hover {
	color: #080;
}
ul.prof-activity > li > div.message > p.action > span.skill {
	color: #3a87ad;
	font-weight: bold;
}

div.persons > ul {
	list-style-type: none;
}
div.persons > ul > li {
	float: left;
	width: 20%;
	margin-bottom: 20px;
}
div.persons > ul > li:hover {
	float: left;
	width: 20%;
	margin-bottom: 20px;
	background-color: #f1f1f1;
	cursor: pointer;
}
div.persons > ul > li > div.avatar {
	float: left;
	padding-top: 2px;
}
div.persons > ul > li > div.content {
	margin-left: 68px;
}
div.persons > ul > li > div.content > p.name > a {
	text-decoration: none;
	color: #51a351;
}
div.persons > ul > li > div.content > p.name > a:hover {
	color: #080;
}
div.persons > ul > li > div.content > p.last-visit {
	padding-top: 2px;
	color: #999;
	font-size: 10px;	
}
div.persons > ul > li > div.content > p.prof {
	color: #777;
	font-size: 11px;
	margin-top: 0px;
	min-height: 14px;
	font-weight: bold;
}
div.persons > ul > li > div.content > p.skills {
	margin-top: 2px;
}
div.persons > ul > li > div.content > p.skills > span {
	background-color: #07547a; 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	padding: 3px;
	margin: 2px;
	margin-left: 0px;
	font-size: 10px;
}
div.persons > ul > li > div.actions {
	margin-top: 8px;
	color: #777;
}
div.persons > ul > li > div.actions > span {
	cursor: pointer !important;
}

div.recommend-persons > ul {
	list-style-type: none;
}
div.recommend-persons > ul > li {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #eee;
}
div.recommend-persons > ul > li > div.item > a {
	text-decoration: underline;
	color: #51a351;
}
div.recommend-persons > ul > li > div.item > a:hover {
	color: #080;
}
div.recommend-persons > ul > li > p.info {
	margin-top: 5px;
	margin-bottom: 3px;
	border: 1px solid #f1f1f1;
	background-color: #f8f8f8;
	font-size: 11px;
	padding: 5px;
}
div.recommend-persons > ul > li > ul.persons {
	list-style-type: none;
	margin-top: 5px;
	margin-left: 5px;
}
div.recommend-persons > ul > li > ul.persons > li {
	float: left;
	margin-right: 5px;
	cursor: pointer;
}
div.recommend-persons > ul > li > ul.persons > li > img {
	width: 32px;
	height: 32px;
}
div.recommend-persons > ul > li > ul.persons > li > div.info {
	position: absolute;
	width: 320px;
	background-color: #f8f8f8;
	border: 1px solid #f1f1f1;
	padding: 5px; 
	display: none;
	box-shadow: 0px 1px #e5ffec;
}
div.recommend-persons > ul > li > ul.persons > li > div.info > div.avatar {
	float: left;
}
div.recommend-persons > ul > li > ul.persons > li > div.info > div.content {
	margin-left: 68px;
}
div.recommend-persons > ul > li > ul.persons > li > div.info > div.content > p.name {
	color: #080;
}
div.recommend-persons > ul > li > ul.persons > li > div.info > div.content > p.prof {
	font-weight: bold;
	font-size: 11px;
	margin-top: 2px;
}
div.recommend-persons > ul > li > ul.persons > li > div.info > div.content > p.skills {
	margin-top: 14px;
}
div.recommend-persons > ul > li > ul.persons > li > div.info > div.content > p.skills > span {
	background-color: #07547a; 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	padding: 3px;
	margin: 2px;
	margin-left: 0px;
	font-size: 10px;	
}

ul.contact-messages {
	list-style-type: none;
}
ul.contact-messages > li {
	padding: 5px;
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
}
ul.contact-messages > li:hover {
	background-color: #f8f8f8;
	cursor: pointer;
}
ul.contact-messages > li.active {
	background-color: #f8fff8;
}
ul.contact-messages > li > div.avatar {
	float: left;
	width: 64px;	
}
ul.contact-messages > li > div.content {
	padding-left: 5px;
	float: left;
}
ul.contact-messages > li > div.content > p.name {
	color: #080;
	font-weight: bold;	
} 
ul.contact-messages > li > div.content > p.prof {
	color: #999;
	font-weight: bold;
	margin-top: 3px;
}
ul.contact-messages > li > div.content > p.description {
	margin-top: 8px;
	color: #777;
	font-size: 11px;
	max-width: 220px;
}
ul.contact-messages > li > div.datetime {
	float: right;
	font-size: 11px;
	font-weight: bold;
	color: #777;
	max-width: 38px;
}

ul.messages {
	list-style-type: none;
	margin-top: 5px;
	border-top: 1px solid #eee;
	padding-top: 5px;
}
ul.messages > li {
	padding: 5px;
}
ul.messages > li:hover {
	cursor: pointer;
}
ul.messages > li.newly {
	background-color: #f8fff8;
}
ul.messages > li > div.avatar {
	width: 64px;
	height: 64px;
	float: left;
}
ul.messages > li > div.content {
	margin-left: 68px;
}
ul.messages > li > div.content > p.name  > a {
	text-decoration: underline;
	color: #51a351;
}
ul.messages > li > div.content > p.name > a:hover {
	color: #080;
}
ul.messages > li > div.content > p.text {
	margin-top: 5px;
	color: #777;
}
ul.messages > li > div.content > p.datetime {
	color: #999;
	font-size: 11px;
	margin-top: 5px;
}

div.send-message {
	margin-top: 10px;
	border-top: 1px solid #eee;
	padding: 10px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
}
div.send-message > textarea {
	width: 99%;
	height: 64px;
	border: 1px solid #eee;
	color: #777;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 5px;
	resize: none;
	margin-bottom: 5px; 
}

div.person > div.avatar {
	text-align: center;
}
div.person > div.avatar > img {
	width: 174px;
	height: 174px;
	padding: 4px;
	border: 1px solid #ddd;		
}
div.person > div.action {
	margin-top: 5px;
	padding-top: 5px;
}
div.person > div.box {
	padding-top: 25px;
	padding-bottom: 5px;
	padding-left: 5px;
}
div.person > div.box > h4 {
	color: #555;
	padding-bottom: 5px;	
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 100;
}
div.person > div.box > p {
	color: #555;
	padding-bottom: 5px;
	padding-top: 5px;
}
div.person > div.box > p > span.skill {
	background-color: #07547a; 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	padding: 3px;
	margin: 2px;
	margin-left: 0px;
	font-size: 10px;
}

div.profile-panel {
	margin-left: 240px;
	display: block;
}
div.profile-panel > div.panel > div.name {
	font-size: 20px;
	font-weight: 600;
	color: #555;
	margin-top: 15px;
}
div.profile-panel > div.panel > div.panels {
	margin-top: 60px;
	display: block;
}

div.sparkline-box {
	border: 1px dotted #ddd;
	margin-left: 10px;
	padding: 10px;
}
div.sparkline-box > div.info {
	margin-right: 5px;
}
div.sparkline-box > div.info > p.title {
	text-transform: uppercase;
	font-size: 11px;
	color: #555;
}
div.sparkline-box > div.info > p.count {
	font-size: 18px;	
	margin-top: 3px;
}

div.graph-task-activity {
	width: 100%;
	height: 168px;
	margin-top: 5px;
}

ul.followers {
	list-style-type: none;
	margin-top: 10px;
}
ul.followers > li {
	float: left;
	padding: 4px;
	padding-bottom: 3px;
	border: 1px solid #ddd;
	margin: 4px;		
}
ul.followers > li:hover {
	cursor: pointer;
}
ul.followers > li.more {
	border: none;
	text-align: center;
	padding-top: 15px;
}
ul.followers > li.more > a {
	font-weight: bold;
	color: #080;
}
ul.followers > li.more > a:hover {
	cursor: pointer;
	color: #51a351;
}
ul.followers > li.more:hover {
	cursor: default;
}
ul.followers > li > img {
	width: 32px;
	height: 32px;
}
ul.followers > li > div.info {
	position: absolute;
	width: 320px;
	background-color: #f8f8f8;
	border: 1px solid #f1f1f1;
	padding: 5px; 
	display: none;
	box-shadow: 0px 1px #e5ffec;
}
ul.followers > li > div.info > div.avatar {
	float: left;
}
ul.followers > li > div.info > div.content {
	margin-left: 68px;
}
ul.followers > li > div.info > div.content > p.name {
	color: #080;
}
ul.followers > li > div.info > div.content > p.prof {
	font-weight: bold;
	font-size: 11px;
	margin-top: 2px;
}
ul.followers > li > div.info > div.content > p.skills {
	margin-top: 14px;
}
ul.followers > li > div.info > div.content > p.skills > span {
	background-color: #07547a; 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	padding: 3px;
	margin: 2px;
	margin-left: 0px;
	font-size: 10px;	
}