* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;	
	background: url('/imgs/fone.png') repeat 0 0;
}

#content {
	width: 100%;	
}

.shift {
	padding: 10px;
}

.black {
	color: #777;
}

.green {
	color: #51a351;
}

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}

.clearfix {
	padding: 0px;
	margin: 0px;
	clear: both;
}

.icon16 {
	width: 16px;
	height: 16px;
	padding-left: 20px;
}

.mail {
	background: url('/imgs/mail.png') no-repeat;
}

.task {
	background: url('/imgs/task.png') no-repeat;
}

.profile {
	background: url('/imgs/profile.png') no-repeat;
}

.settings {
	background: url('/imgs/settings.png') no-repeat;
}

.exit {
	background: url('/imgs/exit.png') no-repeat;
}

sup.count {
	position: relative;
	top: -20px;
	left: 16px;
}

.red {
	background: #b94a48;
	padding: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 9px;
	color: #fff;
}

.orange {
	background: #f89406;
	padding: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 9px;
	color: #fff;	
}

.open {
	border-left: 5px solid #f89406;
}
.start {
	border-left: 5px solid #3a87ad;
}
.resolved {
	border-left: 5px solid #080;
}
.closed {
	border-left: 5px solid #ccc;
}

li.separator {
	padding: 0px !important;
	margin: 0px !important;
	border-bottom: 1px solid #eee !important;	
}

.charts > .shift {
	padding: 0px;
	padding-top: 10px;
}
.charts > .shift > h6 {
	text-align: center;
	margin-left: 24px;
}
.charts > .shift > .chart > span {
	position: relative;
	top: -48px;
	left: 70px;
	font-weight: bold;
	color: #777;
	font-size: 14px;
}
.charts > .shift > .chart > span:after {
	content: '%'; 
}

.panel {
	background-color: #fff;
	border: 1px solid #eee;
	padding: 10px; 
}
.shift-layout {
	margin-right: 10px;
}
.layout {
	padding: 10px;
}
.layout30 {
	width: 30%;
}
.layout50 {
	width: 50%;
}
.layout70 {
	width: 70%;
}

.smalltext {
	color: #777;
	font-size: 11px;
}
h3 {
	color: #777;
	font-weight: bold;
	font-size: 13px;
}
h6 {
	color: #666;
	font-weight: bold;
	font-size: 11px;
}

div.graph-activity {
	width: 100%;
	height: 143px;
	margin-top: 5px;
}

ul {
	background-color: #fff; 
}

ul.nav {	
	border-bottom: 1px solid #eee;
	list-style-type: none;
	height: 45px;
	clear: both;
	box-shadow: 0px 1px #e5ffec;
	padding-right: 10px;
	background-color: #fff;
}
ul.nav > li {
	float: left;
	padding: 12px;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
}
ul.nav > li a {
	text-decoration: none;
	color: #666;
}
ul.nav li.brand {
	padding-right: 100px;
}
ul.nav li.brand a {
	letter-spacing: 1px;
	font-weight: bold;
}
ul.nav li.item:hover {
	background-color: #f1f1f1;
}
ul.nav li.empty {
	border: none;
	float: right;		
	padding: 11px;		
}
ul.nav li.empty img.principal-avatar {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
ul.nav li.empty > span {
	padding-bottom: 4px;
}
ul.nav > li.empty:hover {
	background: #f1f1f1;
}
ul.nav li.icon {
	border: none;
	float: right;
	padding: 0px;	
	padding-top: 15px;
}
 ul.dropdown {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;	
	top: 45px;
	right: 10px;	
	border: 1px solid #eee;
	border-top: 1px solid #fff;
	background-color: #fff;
	box-shadow: 2px 2px 2px #e5ffec; 
	display: none;
	z-index: 9999;
}
ul.dropdown > li {
	float: none;
	min-width: 120px;
	border: none;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #fff;
}
ul.dropdown > li > a {
	width: auto;
}
ul.dropdown > li:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

div.dd_messages {
	margin: 0;
	padding: 5px;
	position: absolute;
	top: 45px;
	right: 200px;
	border: 1px solid #eee;
	border-top: 1px solid #fff;
	background-color: #fff;
	box-shadow: 2px 2px 2px #e5ffec;
	display: none;
	z-index: 9999;
}
div.dd_messages > ul {
	list-style-type: none;
	overflow: auto;
	max-height: 240px;
	width: 330px;
}
div.dd_messages > ul > li {
	width: 320px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}
div.dd_messages > ul > li:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}
div.dd_messages > ul > li > div.avatar {
	width: 32px;
	height: 32px;
	margin-top: 2px;
	background: url('/imgs/user_avatar.png');
	float: left;
}
div.dd_messages > ul > li > div.item {
	margin-left: 38px;
}
div.dd_messages > ul > li > div.item > p {
	color: #666;
	font-size: 12px;
}
div.dd_messages > ul > li > div.item > p.content {
	max-height: 64px;
	overflow: hidden;
}
div.dd_messages > ul > li > div.item > p.datetime {
	padding-top: 5px;
	color: #999;
	font-size: 10px;
}
div.dd_messages > div.paging {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
	color: #666;
	border: none;
}
div.dd_messages > div.paging:hover {
	cursor: pointer;
	background-color: #f1f1f1;
}

div.dd_tasks {
	margin: 0;
	padding: 5px;
	position: absolute;
	top: 45px;
	right: 160px;
	border: 1px solid #eee;
	border-top: 1px solid #fff;
	background-color: #fff;
	box-shadow: 2px 2px 2px #e5ffec;
	display: none;
	z-index: 9999;
}
 
div.dd_tasks > ul {
	list-style-type: none;	
	overflow: auto;
	max-height: 240px;
	width: 330px;
}
div.dd_tasks > ul > li {
	width: 320px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}
div.dd_tasks > ul > li:hover {
	cursor: pointer;
	background-color: #f1f1f1;
}
div.dd_tasks > ul > li > div.item {
	padding-left: 5px;
}
div.dd_tasks > ul > li > div.item > p {
	color: #666;
	font-size: 12px;
}
div.dd_tasks > ul > li > div.item > p > a {
	color: #51a351;
	text-decoration: underline;
}
div.dd_tasks > ul > li > div.item > p > a:hover {
	color: #080;
}
div.dd_tasks > ul > li > div.item > p.datetime {
	padding-top: 5px;
	color: #999;
	font-size: 10px;
}
div.dd_tasks > div.paging {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
	color: #666;
	border: none;
}
div.dd_tasks > div.paging:hover {
	cursor: pointer;
	background-color: #f1f1f1;
}