* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;	
}

#content {
	width: 100%;	
}

.black {
	color: #777;
}

.green {
	color: #51a351;
}

.pull-right {
	float: right;
}

.clearfix {
	padding: 0px;
	margin: 0px;
	clear: both;
}

.icon16 {
	width: 16px;
	height: 16px;
}

.mail {
	background: url('/imgs/mail.png');
}

.task {
	background: url('/imgs/task.png');
}

.profile {
	background: url('/imgs/profile.png');
}

.settings {
	background: url('/imgs/settings.png');
}

.exit {
	background: url('/imgs/exit.png');
}

sup.count {
	position: relative;
	top: -20px;
	left: 16px;
}

.red {
	background: #b94a48;
	padding: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 9px;
	color: #fff;
}

.orange {
	background: #f89406;
	padding: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 9px;
	color: #fff;	
}

ul.nav {	
	border-bottom: 1px solid #eee;
	list-style-type: none;
	height: 45px;
	clear: both;
	box-shadow: 0px 1px #e5ffec;
}
ul.nav li {
	float: left;
	padding: 12px;
	border-right: 1px solid #eee;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
}
ul.nav li.item:hover {
	background-color: #f1f1f1;
}
ul.nav li a {
	text-decoration: none;
	color: #666;
}
ul.nav li.brand {
	padding-right: 100px;
}
ul.nav li.brand a {
	letter-spacing: 1px;
	font-weight: bold;
}
ul.nav li.empty {
	border: none;
	float: right;		
	padding: 11px;		
}
ul.nav li.empty img.principal-avatar {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
ul.nav li.empty span {
	padding-bottom: 4px;
}
ul.nav li.empty:hover {
	background-color: #f1f1f1;
}
ul.nav li.icon {
	border: none;
	float: right;
	padding: 0px;	
	padding-top: 15px;
	margin-right: 18px;
}

.dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;	
	top: 45px;	
	border: 1px solid #eee;
	border-top: 1px solid #fff;
	background-color: #fff; 
}
.dropdown ul li {
	float: none;
	min-width: 100px;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.dropdown ul li a {
	width: auto;
}
.dropdown ul li:hover {
	background-color: #e5ffec;
}

li.separator {
	padding: 0px !important;
	margin: 0px !important;
	border-bottom: 1px solid #eee !important;	
}